{% extends 'layout.html' %}

{% block title %}
(Admin) Character {{ char.charid }}
{% endblock %}

{% block body %}
<div class="row">
	<p>
		<a href="/admin/edit/{{ char.charid }}"><button class="btn btn-warning btn-xs">Edit</button></a> 
		<a href="/admin/delete/{{ char.charid }}"><button class="btn btn-danger btn-xs">Delete</button></a>
	</p>
	<p><strong>{{ char.name }}</strong> the <span class="text-success">level {{ char.level }}</span> {{ char.sex }} 
		{% if char.race == "human" %}
			<span style="color: cyan">{{ char.race }}</span>
		{% elif char.race == "seanchan" %}
			<span style="color: magenta">{{ char.race }}</span>
		{% elif char.race == "trolloc" %}
			<span style="color: red">{{ char.race }}</span>
		{% endif %}
		{{ char.char_class }} from <em>{{ char.homeland }}</em>
	</p>
	<p><strong>Password:</strong> {{ char.password }}</p>
	<p><strong>Expires:</strong> {% if char.expires %}{{ char.expires }} <a href="/admin/renew/{{ char.charid }}" title="renew"><small>renew</small></a>{% else %}Never{% endif %}
	<p>
		<strong>Hitpoints:</strong> {{ char.hitpoints }}<br>
		<strong>Moves:</strong> {{ char.moves }}
	</p>
	<div class="table-responsive">
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Strength</th>
					<th>Intelligence</th>
					<th>Wisdom</th>
					<th>Dexterity</th>
					<th>Constitution</th>
					<th>Sum</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ char.stat_str }}</td>
					<td>{{ char.stat_int }}</td>
					<td>{{ char.stat_wil }}</td>
					<td>{{ char.stat_dex }}</td>
					<td>{{ char.stat_con }}</td>
					<td>{{ char.stat_str + char.stat_int + char.stat_wil + char.stat_dex + char.stat_con }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<p><strong>Rented:</strong> {{ char.rent }}</p>
	<p><strong>Notes:</strong></p>
	<p>{{ char.notes }}</p>
</div>

<div class="row">
	<p><strong>Requests:</strong></p>
	{% for request in requests %}
	<p>
		<a href="/requests/release/{{ request.requestid }}"><button class="btn btn-success btn-xs">Release</button></a> 
		<a href="/requests/delete/{{ request.requestid }}"><button class="btn btn-danger btn-xs">Delete</button></a> 
		{{ request.name }} 
	</p>
	{% endfor %}
</div>
{% endblock %}
